### Android ###
# Archivos generados por el IDE
*.iml
.gradle/
.idea/inspectionProfiles/
/local.properties
/.idea/
/.idea/*
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
/app/google-services.json
# Archivos de configuración específicos del usuario de Android Studio
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/migrations.xml
/.idea/render.experimental.xml
/.idea/runConfigurations/ # Configuraciones de ejecución personales

# Archivos de Android Studio (versiones más nuevas)
/.idea/vcs.xml
/.idea/inspectionProfiles/ # Perfiles de inspección personales

# Archivos de Keystore
*.jks
*.keystore

*.properties
# Registros y volcados de memoria
*.log
*.hprof
*.heapdump

# Archivos de Jetpack Compose
**/build/compose_compiler_metrics/
**/build/compose_compiler_reports/

._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db